.headerBox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
}
.headerIcon {
    height: 100%;
    width: 2.375rem;
    background: url(../images/icon/lunyujiedu.png) no-repeat center;
    background-size: 40% 40%;

}
.headerBox .appName {
    width: 7.25rem;
    height: 100%;
    text-align: right;
    font-size: 0.8rem;
    color: #fff;
    line-height: 2.25rem;
}
.headerBox .appLogo {
    width: 1.75rem;
    height: 100%;
    background: url(../images/icon/logo.png) no-repeat center;
    background-size: 100.00% 77.78%;
    margin-left: 0.6rem;
}